@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  background-color: #f0f0f0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

button,
input,
select {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

select {
  background: url("./select-arrow.png") no-repeat 97.5% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.less-select {
  background: url("./select-arrow.png") no-repeat 87.5% 50%;
}

a {
  text-decoration: inherit;
  color: inherit;
}
